ul {
    list-style: none;
}
ul,
li {
    display: flex;
    font-size: 20px;
    float: left;
    margin-right: 20px;
    align-items: center;
    font-weight: bold;
}
#title {
    position: absolute;
    bottom: 0;
    font-size: 50px;
    border-bottom: 6px solid #29ce24a2;
    border-radius: 5px;
}

#home {
    margin-left: 150px;
}

header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.123);
}

body {
    color: rgb(94, 86, 86);
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: rgba(182, 170, 170, 0.158);
}
h1 {
    font-size: 30px;
    font-weight: unset;
    color: grey;
}

#cartTotalH2{
    color: grey;
}
strong {
    color: rgb(90, 86, 86);
}

#container {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    padding-left: 100px;
    padding-right: 100px;
}

#cartButtons {
    display: flex;
    justify-content: space-between;
}

#card1 {
    width: 60%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
#numbers {
    width: 100%;
    margin-bottom: 20px;
}

#card2 {
    width: 25%;
    height: 50%;
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#save {
    background-color: rgba(218, 205, 205, 0.555);
    border-top: 1px solid rgba(0, 0, 0, 0.123);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: rgb(21, 230, 150);
    font-weight: 900;
    font-size: 1.8rem;
    margin: -10px;
    padding: 10px;
    margin-top: 10px;
}

.btn-loto {
    border: none;
    border-radius: 20px;
    padding: 10px 30px 10px 30px;
    font-weight: 900;
    margin-right: 30px;
    font-size: 12px;
    color: white;
}

.btn-completeOrClear {
    padding: 20px 30px 20px 30px;
    background-color: white;
    border: 1px solid rgb(21, 230, 150);
    color: rgb(33, 241, 162);
    border-radius: 10px;
    font-weight: 900;
}

#addCart {
    display: flex;
    align-items: center;
    padding: 10px 30px 10px 30px;
    background: rgb(33, 241, 162);
    border: 1px solid rgb(21, 230, 150);
    color: white;
    border-radius: 10px;
    font-weight: bold;
}
#addCart, img{
margin-right: 20px;
}

.myNumber {
    color: white;
    width: 50px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 2px;
    border: none;
    font-weight: bold;
    font-size: 1.5rem;
    opacity: 0.8;
    margin: 5px;
}

.marked {
    background-color: #808080;
}

#sideCartDiv {
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    overflow-x: auto;
    word-break: break-all;
}

.divInsideCart {
    display: flex;
    align-items: center;
}

#divCardContent {
    display: flex;
    flex-direction: column;
}

.divClassSpan {
    display: flex;
    justify-content: space-between;
}

.divLotomania {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    cursor: pointer;
    outline: none;
}

img {
    cursor: pointer;
}

.cartContentPrincipal {
    display: flex;
}

#emptyCart{
    align-self: center;
}

footer{
    padding:20px;
    margin-top: 100px;
    display: flex;
    align-self: center;
    justify-content: center;
    border-top: 1px solid #00000077;
    width: 100%;
}